<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Employee</h1>
<form action="/employee/edit" method="post" th:object="${employee}">
    <table border="1" cellpadding="10" cellspacing="5">
        <input type="hidden" th:field="*{id}">
        <tr>
            <th><label>Name</label></th>
            <td><input type="text" th:field="*{fullName}"></td>
        </tr>
        <tr>
            <th><label>Address</label></th>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <th><label>Phone</label></th>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <th><label>Department</label></th>
            <td>
                <select name="departmentId">
                    <option th:each="de:${department}" th:text="${de.name}" th:value="${de.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label>Status</label></th>
            <td>
                <select th:field="*{status}">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" th:value="'Edit'"></td>
        </tr>
    </table>
</form>

</body>
</html>