<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sach phong ban</h1>
<a href="/employee/add">Them moi phong ban</a>
<form action="/employee/search" method="post">
    <input type="search" placeholder="search by name or department" name="search">
    <input type="submit" th:value="'Search'">
</form>
<table border="10" cellspacing="10" cellpadding="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Department</th>
        <th>Status</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="em,loop:${employees}">
        <td th:text="${loop.count}"></td>
        <td th:text="${em.fullName}"></td>
        <td th:text="${em.address}"></td>
        <td th:text="${em.phone}"></td>
        <td th:text="${em.department.name}"></td>
        <td th:text="${em.status}"></td>
        <td><a th:href="|/employee/edit/${em.id}|">Edit</a></td>
        <td><a th:href="|/employee/delete/${em.id}|">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>